@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>delitem</title>
</head>
<body>
    <div>
        

        <head>
            <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
            @Scripts.Render("~../../Content/css")
            @Scripts.Render("~../../bundles/modernizr")
            <title>Auto Parts</title>
            <link rel="stylesheet" type="text/css" href="~/content/style.css" />
        </head>

        <div id="wrap">
            <div class="header">
                <div class="logo"><a href="../../home/index"><img src="../../Content//logo.gif" alt="" title="" border="0" /></a></div>
                <div id="menu">
                </div>


            </div>

            <div id="container" style="width:20%; height:700px; background-color:gray ; float:left">

                </br></br>

                <form method="post" action="~/ADMIN/adhome">
                    <input type="submit" value="Hmoe" style="margin-left: 30px; background-color: black; color: white" />
                </form>
                <br />
                <form method="post" action="~/ADMIN/adminadd">
                    <input type="submit" value="Add Item" style="margin-left: 30px; background-color: black; color: white" />
                </form>
                <br />
                <form method="post" action="~/ADMIN/adminview">
                    <input type="submit" value="View Item" style=" margin-left:30px; background-color: black; color: white" />
                </form>

                <br />

                <form method="post" action="~/ADMIN/admindel">
                    <input type="submit" value="Delete Item" style="margin-left: 30px; background-color: black; color: white" />
                </form>
                <br />

                <form method="post" action="~/ADMIN/adminupdate">
                    <input type="submit" value="Update Item" style="margin-left: 30px; background-color: black; color: white" />
                </form>

                <br />

                <form method="post" action="~/billing/name">
                    <input type="submit" value="Generate Bill " style="margin-left: 30px; background-color: black; color: white" />
                </form>

                <br />
                <form method="post" action="~/ADMIN/register">
                    <input type="submit" value="change password" style="margin-left: 30px; background-color: black; color: white" />
                </form>
                <br /><br /><br /><br />
                </div>
            <div id="content" style="width: 80%; height: 700px; background-image: url('../../Images/25.jpg'); float: left; ">
                <center style="background-image:url('../../Images/25.jpg')">
                    </br>

                    <h1>List of Items</h1>
                   
                    <table>

                        <tr>
                            <td>ID</td>
                            <td> Name</td>
                            <td> image</td>
                            <td>Color</td>
                            <td>Company</td>
                            <td>price</td>
                            <td>Quantity</td>
                            <td>Warranty</td>
                        </tr>

                        @foreach (var s in Model)
                        {
                            <tr>
                                <td>@s.I_Id</td>
                                <td>@s.iname</td>
                                <td><img src="@s.image" alt="Image can not be diplayed"></td>
                                <td>@s.icolor</td>
                                <td>@s.comp_Id</td>
                                <td>@s.iprice</td>
                                <td>@s.quantity</td>
                                <td>@s.warranty</td>

                                <td>
                                    <a href="/ADMIN/Delete/@s.I_Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </table>
                </center>
                </div>
                <div class="footer">
                    <div class="left_footer"><img src="../../Content/footer_logo.gif" alt="" title="" /><br /> <a href="http://csscreme.com/freecsstemplates/" title="free templates"><img src="images/csscreme.gif" alt="free templates" title="free templates" border="0" /></a></div>
                    <div class="right_footer">

                    </div>


                </div>




            </div>
</body>
</html>
